<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @contact_page.img %>
</p>

<p>
  <strong>Img heading:</strong>
  <%= @contact_page.img_heading %>
</p>

<p>
  <strong>Img sub heading:</strong>
  <%= @contact_page.img_sub_heading %>
</p>

<p>
  <strong>Anthem heading:</strong>
  <%= @contact_page.anthem_heading %>
</p>

<p>
  <strong>Anthem sub heading:</strong>
  <%= @contact_page.anthem_sub_heading %>
</p>

<p>
  <strong>Contact person name:</strong>
  <%= @contact_page.contact_person_name %>
</p>

<p>
  <strong>Contact person email:</strong>
  <%= @contact_page.contact_person_email %>
</p>

<p>
  <strong>Contact person phone:</strong>
  <%= @contact_page.contact_person_phone %>
</p>

<p>
  <strong>Career url:</strong>
  <%= @contact_page.career_url %>
</p>

<p>
  <strong>Career text:</strong>
  <%= @contact_page.career_text %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact_page.address %>
</p>

<p>
  <strong>Map longitude:</strong>
  <%= @contact_page.map_longitude %>
</p>

<p>
  <strong>Map latitude:</strong>
  <%= @contact_page.map_latitude %>
</p>

<p>
  <strong>Bottom heading:</strong>
  <%= @contact_page.bottom_heading %>
</p>

<p>
  <strong>Bottom subheading:</strong>
  <%= @contact_page.bottom_subheading %>
</p>

<%= link_to 'Edit', edit_contact_page_path(@contact_page) %> |
<%= link_to 'Back', contact_pages_path %>
</div>