<div class="row">
	<%if @about.img%>
	<div style="background-image:url('<%=@about.img(:medium)%>');width:100vw;height:360px;"></div>
	<%else%>
	<div style="background-image:url(<%=asset_path 'about.jpg'%>);width:100vw;height:360px;"></div>
	<%end%>
</div>
<hr>

<%ww=@about.about.split("*")%>

<%ww.each do |k|%>
<div class="row">
	<div class="col-md-1"></div>
	<%w=ww.split("#")%>
	<div class="col-md-10"><h4 style="text-align:center;"><%=w[0]%></h4><br><p><%=w[1]%><p></div>
	<div class="col-md-1"></div>
</div>
<%end%>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5 well" style="text-align:center;margin-left:-20px;">
		<u><h3>Vision</h3></u>
		<p><%=@about.vision%></p>
	</div>
	<div class="col-md-5 well" style="text-align:center;margin-left:20px;">
		<u><h3>Mission</h3></u>
		<p><%=@about.mission%></p>
	</div>
	<div class="col-md-1"></div>
</div>


<br>
<%aa=@about.extra.split("*")%>
<div class="row">
	<%aa.each do |k|%>
	<div class="panel panel-info">
		<%a=k.split("#")%>
		<div class="panel-heading">
			<h3><%=a[0].upcase%></h3>
		</div>
		<div class="panel-body">
			<p><%=a[1]%></p>
		</div>
	</div>
	<%end%>
</div>

<br>

<div class="row content">
	<h2 style="text-align:center">TEAM</h2>
	<%@teams.each do |team|%>
		<div class="col-md-4">
			  <div class="bg2" style="background: url('<%=team.img(:medium)%>') no-repeat;"> <a class="box overlay" href="<%=team.link%>"> <span class="image-caption"><%=team.name%></span> <span class="desc overlay-desc"><%=team.designation%><br><%=team.quote%><br>
			      <br>
			      <span class="see-more">See more...</span></span> </a> 
		      </div>
		</div>	
	<%end%>
</div>

<br>


