<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<%=render 'home/partials/banner_section'%>
		</header>
		
			<%=render 'home/partials/pm'%>
		
		
			<%=render 'home/partials/corporate_trainers'%>
		
			<%=render 'home/partials/courses'%>
		
		
		
			<%=render 'home/partials/testimonials'%>
		
	
		





<!-- 	<video id="video-bg" autoplay="" loop="" muted="" poster="/images/vid-first-frame.png" media="all and (min-width: 1200px)" style="width: 100%; height: auto; min-width: 100%; overflow: hidden;"><source src="//cdn.upgrad.com/marketingvideofullhd.webm" type="video/webm"><source src="//cdn.upgrad.com/marketingvideofullhd.mp4" type="video/mp4"></video> -->