<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @carrer_page.img %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @carrer_page.heading %>
</p>

<p>
  <strong>Highlight img1:</strong>
  <%= @carrer_page.highlight_img1 %>
</p>

<p>
  <strong>Highlight h1:</strong>
  <%= @carrer_page.highlight_h1 %>
</p>

<p>
  <strong>Highlight p1:</strong>
  <%= @carrer_page.highlight_p1 %>
</p>

<p>
  <strong>Highlight img2:</strong>
  <%= @carrer_page.highlight_img2 %>
</p>

<p>
  <strong>Highlight h2:</strong>
  <%= @carrer_page.highlight_h2 %>
</p>

<p>
  <strong>Highlight p2:</strong>
  <%= @carrer_page.highlight_p2 %>
</p>

<p>
  <strong>Highlight img3:</strong>
  <%= @carrer_page.highlight_img3 %>
</p>

<p>
  <strong>Highlight h3:</strong>
  <%= @carrer_page.highlight_h3 %>
</p>

<p>
  <strong>Highlight p3:</strong>
  <%= @carrer_page.highlight_p3 %>
</p>

<p>
  <strong>Highlight img4:</strong>
  <%= @carrer_page.highlight_img4 %>
</p>

<p>
  <strong>Highlight h4:</strong>
  <%= @carrer_page.highlight_h4 %>
</p>

<p>
  <strong>Highlight p4:</strong>
  <%= @carrer_page.highlight_p4 %>
</p>

<p>
  <strong>Hr heading:</strong>
  <%= @carrer_page.hr_heading %>
</p>

<p>
  <strong>Hr email:</strong>
  <%= @carrer_page.hr_email %>
</p>

<%= link_to 'Edit', edit_carrer_page_path(@carrer_page) %> |
<%= link_to 'Back', carrer_pages_path %>
</div>