<%= form_for(@pm_logo) do |f| %>
  <% if @pm_logo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pm_logo.errors.count, "error") %> prohibited this pm_logo from being saved:</h2>

      <ul>
      <% @pm_logo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.number_field :position, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :logo %><br>
    <%= f.file_field :logo, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
