<div style="width:88%;margin:0 auto;padding:2%;padding-left:5%;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @about_page.img %>
</p>

<p>
  <strong>About:</strong>
  <%= @about_page.about %>
</p>

<p>
  <strong>Vision:</strong>
  <%= @about_page.vision %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @about_page.mission %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @about_page.extra %>
</p>

<%= link_to 'Edit', edit_about_page_path(@about_page) %> |
<%= link_to 'Back', about_pages_path %>
</div>